# Python Files #
################
__pycache__
build

# Cython build artifacts #
##########################
cmac/calc_kdp_ray_fir.c
cmac/*.so

# Report files #
################
IPythonMPI0*

notebooks/
data/
images/

*.headers
*inventory_report.odt
*.egg-info/
